<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
        
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName">
			<value>${helpcenter.datasource.driver}</value>
		</property>
		<property name="url">
			<value>${helpcenter.datasource.credits.url}</value>
		</property>
		<property name="username">
			<value>${helpcenter.datasource.credits.username}</value>
		</property>
		<property name="password">
			<value>${helpcenter.datasource.credits.password}</value>
		</property>
		<property name="maxActive">
			<value>5</value>
		</property>
		<property name="maxIdle">
			<value>3</value>
		</property>
		<property name="maxWait">
			<value>120000</value>
		</property>
	</bean> 
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="configLocation" value="classpath:mybatis/configuration.xml"></property>
        <property name="mapperLocations" value="classpath:mybatis/*/*.xml"></property>
    	<property name="typeAliasesPackage" value="com.tonyfxt.demo.domain" />
    </bean> 
    
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">  
  		<constructor-arg index="0" ref="sqlSessionFactory" />  
	</bean>
	
</beans>